$primary: #E5218F;
$body-bg: #F2FFDC;
$header-bg: #474A54;
$text: #2D2F36;
$pink-light: #EF657E;
$pink-light2: #F7BBDD;
$green: #5BBD65;

$gray-light: #BEC7AF;
$gray: #828282;

$font-s: 13px;
$font-m: 16px;
$font-l: 18px;
